@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(droidsans.woff) format('woff');
}

body {
	color: #515151;
	background: #FFF;
}

h2, h3, h4, h5, h6, footer, label { font-family: 'Droid Sans', sans-serif; }
h2 {
	display: inline-block;
	font-size: 23px;
	margin: 15px 0 0 0;
	padding-bottom: 8px;
	border-bottom: 4px solid #208DCE;
}

a { color: #208DCE; text-decoration: none; }
a:hover { text-decoration: underline; }

p, li {
	-moz-hyphens: auto; -ms-hyphens: auto; -webkit-hyphens: auto; hyphens: auto;
	word-wrap: break-word;
}

.hide { display:none; }

/* Columns framework */
.grid { margin: 0 auto; width: 90%; max-width: 944px; text-align: left; }
.problem { background-color: white; color: #222D3E; margin: 0px; }
.problem-section { background-color: white; color: #222D3E; margin-bottom: 40px; }

	.row { margin-left: -16px; *zoom: 1; }
	.row:before, .row:after { content: " "; display: table; }
	.row:after { clear: both; }

		.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8,
		.col-9, .col-10, .col-11, .col-12, .col-13, .col-14,
		.col-15, .col-16, .col-17, .col-18, .col-19, .col-20,
		.col-21, .col-22, .col-23, .col-24, .col-25, .col-26,
		.col-27, .col-28, .col-29, .col-30 { float: left; display: inline; margin-left: 16px; }

		.col-2, .gap-2 		{ width: 48px; }
		.col-3, .gap-3 		{ width: 80px; }
		.col-4, .gap-4 		{ width: 112px; }
		.col-5, .gap-5 		{ width: 144px; }
		.col-6, .gap-6 		{ width: 176px; }
		.col-7, .gap-7 		{ width: 208px; }
		.col-8, .gap-8		{ width: 240px; }
		.col-9, .gap-9		{ width: 272px; }
		.col-10, .gap-10 	{ width: 304px; } /* sidebar */
		.col-11, .gap-11 	{ width: 336px; }
		.col-12, .gap-12 	{ max-width: 368px; width: 39%; } /* responsive */
		.col-13, .gap-13    { max-width: 400px; width: 42%; } /* responsive */
		.col-14, .gap-14 	{ width: 432px; }
		.col-15, .gap-15 	{ width: 464px; }
		.col-16, .gap-16 	{ width: 496px; }
		.col-17, .gap-17    { max-width: 528px; width: 55%; } /* responsive */
		.col-18, .gap-18 	{ width: 560px; }
		.col-19, .gap-19 	{ width: 592px; }
		.col-20, .gap-20 	{ width: 624px; } /* main */
		.col-21, .gap-21 	{ width: 656px; }
		.col-22, .gap-22 	{ width: 688px; }
		.col-23, .gap-23 	{ width: 720px; }
		.col-24, .gap-24 	{ width: 752px; }
		.col-25, .gap-25 	{ width: 784px; }
		.col-26, .gap-26 	{ width: 816px; }
		.col-27, .gap-27 	{ width: 848px; }
		.col-28, .gap-28 	{ width: 880px; }
		.col-29, .gap-29 	{ width: 912px; }
		.col-30, .gap-30 	{ width: 944px; } /* all */

		.h-left { float: left; display: inline; }
		.h-right { float: right; display: inline; }

/* Responsive columns */

@media screen and (max-width: 1048px) {
	.col-12, .col-13, .col-17     { max-width: none; width: 100%; }
}

/* Buttons framework */

/* Base Set-up */
input[type="file"].unb-hide { position: absolute; left: -9999px; top: -9999px; }
input:focus, textarea:focus { outline: none!important; }

/* Text inputs */
.textfield {
	display: block;
	padding: 0px;
	background-color: rgb(253, 253, 253);
	border-width: 1px; border-style: solid; border-color: rgb(203, 203, 203) rgb(227, 227, 227) rgb(227, 227, 227);
	box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.1);
	-webkit-transition: box-shadow 0.3s ease, border-color 0.2s ease;
	-moz-transition		: box-shadow 0.3s ease, border-color 0.2s ease;
	-o-transition			: box-shadow 0.3s ease, border-color 0.2s ease;
	transition 				: box-shadow 0.3s ease, border-color 0.2s ease;
	overflow: hidden;
	border-radius: 4px;
}

.textfield input[type="password"],
.textfield input[type="text"],
.textfield textarea,
.textfield select,
.txf-target {
	width: 100%;
	display: block;
	border: none;
	background: transparent;
	font-size: 13px;
	line-height: 38px;
	height: 38px;
	padding: 0px 9px;
}

/* Placeholder */
.placeholder { position: relative; }
.phr-filled .phr-marker { display: none; } /* focus or filled with content states */
.phr-marker {
	position: absolute;
	left: 8px;
	top: 50%;
	margin-top: -10px;
	color: rgb(204, 204, 204);
	cursor: text;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-size: 16px;

}
.phr-marker:focus { opacity: .3; filter: alpha(opacity=30); }
.cnt-options { margin: 0; padding: 0; list-style:none;  }
.cnt-options li { margin: 0 0 10px 0;}
.cnt-options li.register span { display: block;}

/* Buttons specific */

.btn {
	font-family: sans-serif;
	font-size: 16px;
	margin: 4px 0px 0px 0px;
	background: rgb(0, 113, 205);
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
	padding: 10px 16px;
	outline: 0;
	border: 0px;
}

.btn-warning {
	background: #000;
}

.btn-fill {
	width: 100%;
}

.btn-xl {
	font-size: 160%;
	padding: 12px 32px;
}

.icon-download {
	background-image: url('./img/icon-document.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 16px;
	padding-left: 20px;
}

/* Problems specific */

code, pre {
	font-family: "Monaco", "Deja Vu Sans Mono", "Ubuntu mono", "Lucida Console", monospace;
	padding: 8px !important;
	border: none  !important;
	margin-bottom: 10px;
	display: block !important;
	background-color: #EEE;
	overflow: auto;
	width: auto;
	display:block;
}

.submit-feedback {
	font-family: "Monaco", "Deja Vu Sans Mono", "Ubuntu mono", "Lucida Console", monospace;
	background: none;
	margin: 0px;
	padding: 0px;
}

.feedback-line { color: #FFF; white-space: pre; }
.feedback-line-ok { color: #4F4; white-space: pre; }
.feedback-line-error { color: #F44; white-space: pre; }

.problem h3 {
	font-weight: bold;
	font-size: 18px;
	margin: 16px 0px 10px 0px;
	font-family: Arial, Helvetica, 'Droid Sans';
}

.problem h4 {
	font-weight: bold;
	font-size: 16px;
	margin: 10px 0;
	font-family: Arial, Helvetica, 'Droid Sans';
	border-bottom: 1px solid #EEE;
}

.congrats {
	font-family: Lucida Console, Courier New, monospace, serif;
	margin-bottom: 10px;
	overflow: auto;
	width: auto;
	display:block;
}

/* Layout specific */
header { border-bottom: 1px solid #EEE; padding: 21px 0; overflow: hidden; }
	.logo { margin: 0; padding: 0; }
	.logo a {
		display: block;
		margin: 0;
		padding: 0;
		width: 380px;
		height: 50px;
		background: url('logo.png?0') no-repeat top left;
		overflow: hidden;
		text-indent: -9000em;
	}

nav { padding-top: 14px; }
	nav ul { margin: 0 0px 0 0; padding: 0; list-style: none; overflow: hidden }
	nav li { float: left; padding: 0; margin: 0; }
	nav li:after {content: " · "; }
	nav li:last-child:after {content: ""; }
	nav a { display: inline-block; margin: 0 10px; color: #515151; text-decoration: none; }
	nav a:hover { text-decoration: none; }
	nav .active a { color: #208DCE; padding-bottom: 4px; border-bottom: 4px solid #208DCE; }

nav button {
	border:none;
	color: #515151;
	-webkit-box-align: center;
	text-align: center;
	cursor: pointer;
	padding: 0;
	border-image: initial;
	background-color: transparent;
	margin: 0 10px;
}

.content {
	padding: 60px 0;
	background: #FFF;
	color: #515151;
	line-height: 1.5em;
}

.cnt-form { margin-top: 20px; }
.message { text-align: right; }

::-webkit-input-placeholder {
	color: rgb(204, 204, 204);
	cursor: text;
	font-size: 16px;
	font-family: 'Droid Sans', sans-serif;
}
::-moz-placeholder {
	color: rgb(204, 204, 204);
	cursor: text;
	font-size: 16px;
	font-family: 'Droid Sans', sans-serif;
 } /* firefox 19+ */
:-ms-input-placeholder {
	color: rgb(204, 204, 204);
	cursor: text;
	font-size: 16px;
	font-family: 'Droid Sans', sans-serif;
} /* ie */
input:-moz-placeholder {
	color: rgb(204, 204, 204);
	cursor: text;
	font-size: 16px;
	font-family: 'Droid Sans', sans-serif;
}

.error {
	border: 1px solid #f00;
	background: #FEE;
}

div.error {
	margin: 16px 0px;
	border: 0;
	background: #000;
	color: #fff;
	padding: 16px;
	font-weight: bold;
}

.success {
	margin: 16px 0px;
	border: 0;
	background: #000;
	color: #fff;
	padding: 16px;
	font-weight: bold;
}

.group {
	background: #F0F0F0;
	padding: 1px 16px 1px 16px;
}

.center { margin-top: 20px; text-align:center; }

.content article { font-size: 18px; }

footer { border-top: 1px solid #EEE; padding: 21px 0; overflow: hidden; }

.scl-menu li { list-style: none; float: left; padding-left: 8px; }

/* Form */

.form:after { content: ""; }

/* Tables */

table.status { margin: 32px auto 8px auto; font-family: sans-serif; }

table.status th, table.status td { padding: 16px; }
table.status th { width: 200px; font-weight: bold; background: #F0F0F0; }
table.status td { width: 300px; text-align:center; padding: 16px;}

table.status, .status tr, .status th { border: 1px solid #E0E0E0; }

table.ranking { margin-top: 20px; }
table.ranking th, table.ranking td { padding: 4px 6px; text-align: center; }
table.ranking th { background:none; width:24px; }
table.ranking th.name-status { width: 200px; text-align: center; background:#F0F0F0; }
table.ranking td { width: auto; }
table.ranking td:first-child { background:#F0F0F0; white-space: nowrap; }
